@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    color: #141619;
}

header {
    z-index: 5;
}

.site_logo {
    background: linear-gradient(#ffd85f, #ffd85f) 0 60%/100% 10px no-repeat;
}

li a {
    background: linear-gradient(#ffd85f, #ffd85f) 0 60%/0 10px no-repeat;
    transition: background 0.3s;
}

li a:hover {
    background-size: 100% 10px;
}

.gray_wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.NavSidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 70%;
    max-width: 384px;
    background-color: white;
    z-index: 50;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
}

.NavSidebar.active {
    transform: translateX(0);
}

.top_section {
    background-color: #fafafa;
}

.top_logo {
    font-size: 200px;
    position: relative;
}

@keyframes baunce {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }

    5% {
        
    }

    25% {
        opacity: 1;
        transform: translateY(50px);
    }

    50% {
        transform: translateY(-25px);
    }

    75% {
        transform: translateY(12px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(-20px);
    }
}

@keyframes fadeinline {
    0% {
        opacity: 0;
        width: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        width: 365px;
    }
}

@keyframes fadeintext {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.top_logo_D,
.top_logo_e,
.top_logo_v,
.top_logo_dot {
    display: block;
    position: relative;
    z-index: 2;
}

.top_logo_D {
    padding-left: 20px;
    animation: baunce 0.5s ease-in-out 0s 1 normal both;
}

.top_logo_e {
    animation: baunce 0.5s ease-in-out 0.5s 1 normal both;
}

.top_logo_v {
    animation: baunce 0.5s ease-in-out 1s 1 normal both;
}

.top_logo_dot {
    animation: fadein 0.3s ease-in 1.5s 1 normal both;
}

.top_logo .top_logo_bg {
    position: absolute;
    top: 175px;
    left: 25px;
    height: 55px;
    width: 365px;
    background-color: #ffd85f;
    border-radius: 10px;
    z-index: 1;
    animation: fadeinline 0.3s ease-in-out 1.5s 1 normal both;
}

.top_text {
    animation: fadeintext 1s ease-in-out 2s 1 normal both;
}

.about_this_site {
    background-color: white;
}

p {
    max-width: 550px;
    font-family: "Noto Sans JP", sans-serif;
}

.about_me,
.skills {
    background-color: #fafafa;
}

img {
    width: 50%;
    height: 100%;
}

.works_item .img_wrap {
    border: 3px solid #141619;
    transition: all 0.2s ease-out;
}

.works_item .img_wrap:hover {
    transform: translate(-8px, -8px);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
}

.works_item_text {
    background: linear-gradient(#ffd85f, #ffd85f) 0 80%/0 10px no-repeat;
    transition: background 0.2s;
}

.works_item .img_wrap:hover + div p {
    background-size: 100% 10px;
}

.work_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    height: 90%;
    background-color: #fafafa;
    z-index: 30;
    padding: 20px;
}

.close_icon {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 40;
}

.link_logo {
    background: linear-gradient(#ffd85f, #ffd85f) 0 80%/0 10px no-repeat;
    transition: background 0.2s;
}

.link_logo:hover {
    background-size: 100% 10px;
}

.contact_form {
    max-width: 550px;
}

label {
    margin-left: 10px;
}

button {
    border: 1px solid #141619;
    padding: 3px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: translateY(3px);
    box-shadow: none;
}

footer {
    background-color: #141619;
}

.scroll_fade_in {
    opacity: 0;
    transform: translateY(50px);
    transition: all .5s ease-in-out;
}

.scroll_fade_in.scroll_fade_in_active {
    opacity: 1;
    transform: translateY(0);
}
